use protolang::{compiles, create_env, sources};

fn main() -> Result<(), Box<dyn std::error::Error>> {
    let mut env = create_env();
    let sources = sources("protocol")?;
    let units = compiles(&mut env, sources)?;

    // compile to get the werbolg CompilationUnit
    for unit in units {
        let mut out = String::new();
        werbolg_compile::code_dump(&mut out, &unit.code, &unit.funs)
            .expect("writing to string work");
        println!("{}", out);
    }

    Ok(())
}
